*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --box-size: 140px;
    --mark-size: calc(var(--box-size)* .9);
}

/* default styles */

body {
    background-color: #abf5ff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23abf5ff' width='11' height='11'/%3E%3Crect fill='%23acf5fe' x='10' width='11' height='11'/%3E%3Crect fill='%23adf5fe' y='10' width='11' height='11'/%3E%3Crect fill='%23aef5fd' x='20' width='11' height='11'/%3E%3Crect fill='%23aff6fc' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23b0f6fc' y='20' width='11' height='11'/%3E%3Crect fill='%23b2f6fb' x='30' width='11' height='11'/%3E%3Crect fill='%23b3f6fa' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23b4f6fa' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23b5f6f9' y='30' width='11' height='11'/%3E%3Crect fill='%23b6f7f8' x='40' width='11' height='11'/%3E%3Crect fill='%23b7f7f7' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23b8f7f7' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23b9f7f6' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23baf7f5' y='40' width='11' height='11'/%3E%3Crect fill='%23bbf7f5' x='50' width='11' height='11'/%3E%3Crect fill='%23bcf8f4' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23bdf8f3' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23bef8f3' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23bff8f2' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23c0f8f1' y='50' width='11' height='11'/%3E%3Crect fill='%23c1f8f1' x='60' width='11' height='11'/%3E%3Crect fill='%23c2f9f0' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23c3f9ef' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23c3f9ee' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23c4f9ee' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23c5f9ed' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23c6faec' x='70' width='11' height='11'/%3E%3Crect fill='%23c7faec' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23c8faeb' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23c9faea' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23cafaea' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23cbfae9' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23ccfbe8' x='80' width='11' height='11'/%3E%3Crect fill='%23cdfbe8' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23cdfbe7' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23cefbe6' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23cffbe5' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23d0fbe5' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23d1fce4' x='90' width='11' height='11'/%3E%3Crect fill='%23d2fce3' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23d3fce3' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23d3fce2' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23d4fce1' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23d5fce1' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23d6fde0' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23d7fddf' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23d8fdde' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23d8fdde' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23d9fddd' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23dafddc' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23dbfedc' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23dcfedb' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23dcfeda' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23ddfeda' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23defed9' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23dffed8' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23dfffd7' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23e0ffd7' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23e1ffd6' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;

    /* background-color: #cc5577;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23cc5577' width='11' height='11'/%3E%3Crect fill='%23cd577d' x='10' width='11' height='11'/%3E%3Crect fill='%23cd5a82' y='10' width='11' height='11'/%3E%3Crect fill='%23cd5c88' x='20' width='11' height='11'/%3E%3Crect fill='%23ce5f8d' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23cd6292' y='20' width='11' height='11'/%3E%3Crect fill='%23cd6598' x='30' width='11' height='11'/%3E%3Crect fill='%23cd689d' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23cc6ba2' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23cb6ea7' y='30' width='11' height='11'/%3E%3Crect fill='%23ca71ac' x='40' width='11' height='11'/%3E%3Crect fill='%23c974b1' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23c877b6' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23c67aba' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23c57dbf' y='40' width='11' height='11'/%3E%3Crect fill='%23c381c3' x='50' width='11' height='11'/%3E%3Crect fill='%23c184c7' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23bf87cc' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23bd8ad0' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23bb8dd3' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23b991d7' y='50' width='11' height='11'/%3E%3Crect fill='%23b794da' x='60' width='11' height='11'/%3E%3Crect fill='%23b497de' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23b29ae1' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23b09de4' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23ada0e7' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23aba3ea' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23a8a6ec' x='70' width='11' height='11'/%3E%3Crect fill='%23a6a9ef' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23a3acf1' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23a1aff3' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%239fb2f5' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%239db5f7' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%239ab8f8' x='80' width='11' height='11'/%3E%3Crect fill='%2399bbfa' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%2397bdfb' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%2395c0fc' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%2394c3fd' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%2392c5fe' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%2391c8ff' x='90' width='11' height='11'/%3E%3Crect fill='%2390cbff' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%2390cdff' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%238fd0ff' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%238fd2ff' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%238fd5ff' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%238fd7ff' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%2390d9ff' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%2391dcff' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%2392deff' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%2393e0ff' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%2394e2ff' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%2396e5ff' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%2398e7ff' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%239ae9ff' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%239debff' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%239fedff' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23a2efff' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23a5f1ff' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23a8f3ff' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23abf5ff' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;

    text-transform: uppercase;
    font-family: 'Epilogue', sans-serif;
    font-size: 1.5rem;
}

/* header styles */

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* main styles */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.boxes{
    margin: 15px;
}

#playerText {
    text-align: center;
}

section.wins {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.wins {
    display: flex;
    flex-direction: row;
    gap: 70px;
}

section.wins h2{
    text-decoration: underline;
    margin-bottom: 15px;
}


button#resetButton{
    display: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 20px 0 10px 0;
    background-color: transparent;
    padding: 2px;
    border: 1px solid black;
    outline: none;
}

button#resetButton.show{
    display: flex;
}

/* board styles */

.board {
    width: 440px;
    height: 440px;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    margin: 30px;
}

.box {
    width: var(--box-size);
    height: var(--box-size);
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.box:first-child, .box:nth-child(2), .box:nth-child(3) {
    border-top: none;
}
.box:nth-child(3n+1) {
    border-left: none;
}
.box:nth-child(3n+3) {
    border-right: none;
}
.box:last-child, .box:nth-child(8), .box:nth-child(7) {
    border-bottom: none;
}

.box.x::before, .box.x::after{
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
    background-color: black;
}
.box.x::before{
    transform: rotate(45deg);
}
.box.x::after{
    transform: rotate(-45deg);
}

.box.circle::before, .box.circle::after{
    content: '';
    position: absolute;
    border-radius: 50%;
    width: calc(var(--mark-size) * .9);
    height: calc(var(--mark-size) * .9);
    border: 21px white solid;
}

.box.win{
    background-color: lightgreen;
}
